<!-- add_blog.html -->
{% extends 'index.html' %}

{% block title %}Add Blog - QuizUp{% endblock title %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
    <h1 class="display-4 text-center my-5">Add Blog</h1>

    <form method="post" class="w-100" style="max-width: 600px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="{% url 'blogs' %}" class="btn btn-secondary mt-3">Back to Blog List</a>
</div>
{% endblock content %}
