{% extends 'index.html' %}

{% block title %}@{{request.user.username}} Profile Delete Confirmation - QuizUp{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5 title-highlight">Confirmation Page</h1>

<div class="container confirmation-box">
    <form action="" method="POST" class="confirmation-form">
        {% csrf_token %}
        <p class="fs-4"><b>@{{request.user.username}}</b>, Are you sure you want to delete your profile?</p>
        <div class="button-group">
            <a href="{% url 'profile' request.user.username %}" class="btn btn-success back-button" type="button">Back to Profile</a>
            <input class="btn btn-danger confirm-button" type="submit" value="Confirm">
        </div>
    </form>
</div>

{% endblock content %}
